/* Layout */
/*
  Alignment for heading, side-bar, etc..
 */

/* Body */
body {
    background: #fcfcfc;
}

/* Heading */
#ui-head {
    height: 4em; /*ignored, but correct*/

    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: #f6f6f6;
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#f6f6f6 100%);
    background: -moz-linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
    background: -o-linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
    background: linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f6f6f6',GradientType=0 );
    
    display: none;
}
/* Heading Layout */
#ui-head h1 {
    line-height: 2em;
    border-bottom: solid 2px #999;
    padding: 0 1em;
    color: #666;
    -webkit-box-shadow: 0 0 5px #999;
    -moz-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
}
#ui-head h1 em {
    font-weight: bold;
}
#ui-head h1 span {
    float:right;
    font-size: 0.6em;
}


/* Side-bar */
#ui-side {
    width: 15em;
    float: left;
    position: fixed;
    top: 4em;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: none;
}
#ui-side:hover {
    overflow: auto;
}
/* Side-bar boxes */
.ui-sidebox {
    border: solid 1px #999;
    margin: 1em;
    -webkit-border-radius: 7px 0;
    -moz-border-radius: 7px 0;
    border-radius: 7px 0;
    background-color: #f6f6f6;
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#f6f6f6 100%);
    background: -moz-linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
    background: -o-linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
    background: linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f6f6f6',GradientType=0 );
    padding: 1em;
}
#ui-side ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
#ui-side h3 {
    margin: 0 0 0.5em 0;
}
#ui-side ul li {
    margin: 0;
    padding: 0;
}
#ui-side a {
    color: #333;
    display: block;
    padding: 0.2em 0.5em;
}
#ui-side a:hover {
    background-color: #eef;
}
/* Side-bar hr */
#ui-side hr {
    border: dotted 1px #999;
    padding: 0;
    margin: 1em 1em 0 1em;
    border-color: #49B;
}

/* Main content */
#ui-main {
    margin: 4em 0 2em 15em;
    border: solid 1px #999;
    border-width: 0 0 1px 1px;
    -webkit-border-radius: 0 0 0 15px;
    -moz-border-radius: 0 0 0 15px;
    border-radius: 0 0 0 15px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px #ccc;
    /*-moz-box-shadow: 0 0 5px #ccc;*/
    box-shadow: 0 0 5px #ccc;
    padding: 2em;
    display: none;
}

/* Extras */
/*
  Alignment for notification, popups..
 */

/* Overlay */
.ui-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #fff;
    display: none;
    z-index: 15;
}

/* Feedback */
#ui-notify {
    position: fixed;
    top: 1em;
    left: 50%;
    width: 30em;
    margin-left: -15em;
    text-align: center;
    display: none;
    z-index: 20;
}
#ui-notify p {
    margin: 0 auto;
    border: solid 2px #000;
    padding: 0.5em;
    background-color: #eee;
    color: #000;
}
#ui-notify.error p {
    border-color: #f00;
    background-color: #fee;
    color: #900;
}
#ui-notify.success p {
    border-color: #0f0;
    background-color: #efe;
    color: #090;
}
#ui-notify.notice p {
    border-color: #00f;
    background-color: #eef;
    color: #009;
}

/* Overbox */
.ui-dialog {
    position: fixed;
    top: 5em;
    left: 50%;
    width: 30em;
    margin-left: -16em;
    text-align: center;
    
    display: none;
    z-index: 15;
    
    border: solid 1px #999;
    padding: 0 1em;
    -webkit-border-radius: 15px 0;
    -moz-border-radius: 15px 0;
    border-radius: 15px 0;
    -webkit-box-shadow: 0 0 10px #666;
    -moz-box-shadow: 0 0 10px #666;
    box-shadow: 0 0 10px #666;
    background-color: #f6f6f6;
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#f6f6f6 100%);
    background: -moz-linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
    background: -o-linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
    background: linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f6f6f6',GradientType=0 );
}
.ui-dialog.double {
    /*width: auto;
    max-width: 60em;*/
    width: 60em;
    margin-left: -31em;
}
.ui-dialog .overflow {
    overflow: auto;
}
.ui-dialog .splitleft {
    border-right: solid 2px #279;
    width: 30em;
    float: left;
}
.ui-dialog .overflow.splitleft,
.ui-dialog .overflow.splitright {
    overflow: hidden;
}
.ui-dialog .overflow.splitleft:hover,
.ui-dialog .overflow.splitright:hover {
    overflow: auto;
}
.ui-dialog .splitright {
    border-left: solid 2px #279;
    margin-left: -2px;
    width: 29em;
    float: left;
}
.ui-dialog h3 {
    border-bottom: solid 2px #279;
    text-align: right;
    color: #666;
}
.ui-dialog p {
    clear: both;
}
/*
.ui-dialog em {
    color: #666;
}
*/
