/* Layout */
/*
  Alignment for heading, side-bar, etc..
 */

/* Body */
body {
    background: #fcfcfc;
}

/* Heading */
#ui-head {
    height: 4em; /*ignored, but correct*/

    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#f6f6f6 100%) #f6f6f6;
    
    display: none;
}
/* Heading Layout */
#ui-head h1 {
    line-height: 2em;
    border-bottom: solid 2px #999;
    padding: 0 1em;
    color: #666;
    box-shadow: 0 0 5px #999;
}
#ui-head h1 em {
    font-weight: bold;
}
#ui-head h1 span {
    float:right;
    font-size: 0.6em;
}


/* Side-bar */
#ui-side {
    width: 15em;
    float: left;
    position: fixed;
    top: 4em;
    left: 0;
    bottom: 0;
    overflow: hidden;
    /*display: none;*/
}
#ui-side:hover {
    overflow: auto;
}
/* Side-bar boxes */
.ui-sidebox {
    border: solid 1px #999;
    margin: 1em;
    border-radius: 7px 0;
    background-color: #fff;
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#f6f6f6 100%) #f6f6f6;
    padding: 1em;
}
#ui-side ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
#ui-side h3 {
    margin: 0 0 0.5em 0;
}
#ui-side ul li {
    margin: 0;
    padding: 0;
}
#ui-side a {
    color: #333;
    display: block;
    padding: 0.2em 0.5em;
}
#ui-side a:hover {
    background-color: #eef;
}
/* Side-bar hr */
#ui-side hr {
    border: dotted 1px #999;
    padding: 0;
    margin: 1em 1em 0 1em;
    border-color: #49B;
}

/* Main content */
#ui-main {
    margin: 4em 0 2em 15em;
    border: solid 1px #999;
    border-width: 0 0 1px 1px;
    border-radius: 0 0 0 15px;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    padding: 2em;
    display: none;
}

/* Extras */
/*
  Alignment for notification, popups..
 */

/* Overlay */
#ui-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: #fff;
    display: none;
    z-index: 11;
}

/* Feedback */
#ui-notify {
    position: fixed;
    top: 1em;
    left: 50%;
    width: 30em;
    margin-left: -15em;
    text-align: center;
    display: none;
    z-index: 15;
}
#ui-notify p {
    margin: 0 auto;
    border: solid 2px #000;
    padding: 0.5em;
    background-color: #eee;
    color: #000;
}
#ui-notify.error p {
    border-color: #f00;
    background-color: #fee;
    color: #900;
}
#ui-notify.success p {
    border-color: #0f0;
    background-color: #efe;
    color: #090;
}
#ui-notify.notice p {
    border-color: #00f;
    background-color: #eef;
    color: #009;
}

/* Overbox */
#ui-dialog,
#ui-popup {
    position: fixed;
    top: 5em;
    left: 50%;
    width: 30em;
    margin-left: -15em;
    text-align: center;
    
    display: block;
    z-index: 15;
    
    border: solid 1px #999;
    padding: 0 1em;
    border-radius: 15px 0;
    box-shadow: 0 0 10px #666;
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#f6f6f6 100%) #f6f6f6;
}
#ui-popup {
    left:16em;
    right:1em;
    bottom:1em;
    width: auto;
    max-width: 60em;
    margin: 0;
}
#ui-popup .main {
    overflow: auto;
}
#ui-dialog h3,
#ui-popup h3 {
    border-bottom: solid 2px #279;
    text-align: right;
    color: #666;
}
#ui-dialog em,
#ui-popup em {
    color: #666;
}
