<h2>Gallery Management :: Galleries</h2>

<% loadData('Gallery/ls'); %>

<% if (window.data.Gallery_ls.length > 0) { %>
<% for (k in window.data.Gallery_ls) { lsi = window.data.Gallery_ls[k]; %>
  <h3><%= lsi.name %> <span><%= lsi.images %> images</span></h3>
<% } %>
<% } else { %>
<p>Create your first Gallery.</p>
<% } %>

<fieldset><legend>New Gallery</legend>
<form action="Gallery/mk">
<p><label>Add a new gallery:</label></p>
<p><input id="name" name="name" /><input type="submit" value="Create" /></p>
</form>
</fieldset>
