<h2>Dashboard :: Profile</h2>

<% loadData("Auth/info"); %>

<h3>Basic Details</h3>

<p><b>Full Name</b>: <%= window.data.Auth_info.details.fullname %></p>
<p><b>Username</b>: <%= window.data.Auth_info.details.username %></p>

<h3>Roles</h3>

<% if (window.data.Auth_info.roles.length > 0) { %>
<ul>
<% for (k in window.data.Auth_info.roles) { %>
  <li><%= window.data.Auth_info.roles[k] %></li>
<% } %>
</ul>
<% } else { %>
<p>You have no roles.</p>
<% } %>

<h3>Other Permissions</h3>

<% if (window.data.Auth_info.permissions.length > 0) { %>
<ul>
<% for (k in window.data.Auth_info.permissions) { %>
  <li><%= window.data.Auth_info.permissions[k] %></li>
<% } %>
</ul>
<% } else { %>
<p>You have no other permissions.</p>
<% } %>

&lt;% console.log(window.data.Auth_info); %&gt;
