<h2>Users</h2>

<div id="ui-usertable" class="fancy-table"></div>

<h3>Management</h3>

<ul><li><a href="javascript:showDialog('new-user')">New User</a></li></ul>


<script type="text/x-jqote-template" id="tpl-usertable">
  <![CDATA[
<% loadData("User/lsl"); %>

<table cellspacing=0 cellpadding=0 data-popup="edit-user" data-popup-src="User/info" data-action="more" data-more="more-user" class="xhide-id-col fancy" id="mytable">
<thead><th>id</th><th>Full Name</th></thead>
<tbody>
<% for (u in this.User_lsl) { %>
  <tr data-popup-data='{"user":"<%= this.User_lsl[u].username %>"}'><td><%= this.User_lsl[u].username %></td>
      <td><%= this.User_lsl[u].fullname %></td></tr>
<% } %>
</tbody>
</table>
  ]]>
</script>


<script type="text/x-jqote-template" id="tpl-edit-user">
  <![CDATA[
    <% loadData("User/info",{user:this.DataTables.mytable.selectedRow}); %>
    
    <h3>Edit User</h3>
    
    <div class="overflow">
    
    <form action="User/setDetails" data-autoclose="false" class="fancy">
    <input type="hidden" name="user" value="<%= this.User_info.details.username %>" />
    <p><label>Full Name: </label><input name="fullname" autofocus value="<%= this.User_info.details.fullname %>" /></p>
    <p><label>Username: </label><input disabled value="<%= this.User_info.details.username %>" /></p>
    <p><label>Date of Birth: </label><input name='dob' value="<%= this.User_info.details.dob %>" /></p>
    <p><input type='submit' value="Update" /></p>
    </form>
    <hr />
    
    <p><label>Roles: </label></p>
    
    <!-- Remove Role -->
    <% for (r in this.User_info.roles) { %>
    <form action="User/setRole" data-autoclose="false" class="fancy" data-refresh="dialog" data-confirm="Delete this role?">
        <p style="margin:0;"><label>&nbsp;</label><input disabled value="<%= this.User_info.roles[r] %>" /> <a class="icon rm form-submit">&nbsp;</a></p>
        <input type="hidden" name="user" value="<%= this.User_info.details.username %>" /><input type="hidden" name="role" value="<%= this.User_info.roles[r] %>" /><input type="hidden" name="status" value="false" />
    </form>
    <% } %>
    <!---->
    
    <!-- Add Role -->
    <form action="User/setRole" data-autoclose="false" data-refresh="dialog" class="fancy">
        <p style="margin:0;"><label>&nbsp;</label><input name="role" /> <a class="icon add form-submit">&nbsp;</a></p>
        <input type="hidden" name="user" value="<%= this.User_info.details.username %>" /><input type="hidden" name="status" value="true" />
    </form>
    <!---->
    
    
    <p><label>Permissions: </label></p>
    
    <!-- Remove Permission -->
    <% for (r in this.User_info.permissions) { %>
    <form action="User/setPermission" data-autoclose="false" class="fancy" data-refresh="dialog">
        <p style="margin:0;"><label>&nbsp;</label><input disabled value="<%= this.User_info.permissions[r] %>" /> <a class="icon rm form-submit">&nbsp;</a></p>
        <input type="hidden" name="user" value="<%= this.User_info.details.username %>" /><input type="hidden" name="permission" value="<%= this.User_info.permissions[r] %>" /><input type="hidden" name="status" value="false" />
    </form>
    <% } %>
    <!-- alternative --
    <p class="no-margin"><label>&nbsp;</label><input disabled value="<%%>" />
    <a class="icon add do-action" data-action="rm_perm" data-data="{user:'<%= this.User_info.details.username %>',permission: '<%= this.User_info.permissions[r] %>'}">&nbsp;</a></p>-->
    <!---->
    
    <!-- Add Permissions -->
    <form action="User/setPermission" data-autoclose="false" data-refresh="dialog" class="fancy">
        <p style="margin:0;"><label>&nbsp;</label><input name="permission" /> <a class="icon add form-submit">&nbsp;</a></p>
        <input type="hidden" name="user" value="<%= this.User_info.details.username %>" /><input type="hidden" name="status" value="true" />
    </form>
    <!---->
    
 
    <hr />
    <form action="User/forcePassword" data-autoclose="false" data-refresh="dialog" class="fancy" data-confirm="Reset this password?">
    <p><label>Password: </label><input name="force_password" /></p>
    <p><input type="submit" value="Reset" /></p>
    <input type="hidden" name="user" value="<%= this.User_info.details.username %>" />
    </form>
    
    </div>
    
    <hr />
    <p><input type="button" class="dialog-close" value="Done" /></p>
  ]]>
</script>

<script>

registerAction('rm_perm', {autoclose:false,
                           refresh:'dialog',
                           data:{status:false},
                           success:function(){
                              // nothing
                           }});

function registerAction(){}
</script>


<script type="text/x-jqote-template" id="tpl-new-user">
  <![CDATA[
    <h3>New User</h3>
    <form action="User/addUser" class="fancy">
    <p><label>Username: </label><input name="username" autofocus /></p>
    <p><input type="submit" value="Create" />
    <input type="button" class="dialog-close" value="Cancel" /></p>
    </form>
  ]]>
</script>

<script type="text/x-jqote-template" id="tpl-more-user">
  <![CDATA[
    <% loadData("User/info",{user:this.DataTables.mytable.selectedRow}); %>
    <p>Date of Birth: <%= this.User_info.details.dob %> <a class="button right" href="javascript:showDialog('edit-user');">Edit</a> <a class="button right action" data-action="User/rmUser" data-data='{"username":"<%= this.User_info.details.username %>"}' onclick="console.log($('#testes').data())" id="testes">Delete</a></p>
  ]]>
</script>
