<h2>Users</h2>

<div id="ui-usertable" class="fancy-table"></div>

<h3>Management</h3>

<ul><li><a href="javascript:showDialog('new-user')">New User</a></li></ul>


<script type="text/x-jqote-template" id="tpl-usertable">
  <![CDATA[
<% loadData("User/lsl"); %>

<table cellspacing=0 cellpadding=0 data-popup="edit-user" data-popup-src="User/info" data-action="more" data-more="more-user" class="xhide-id-col fancy" id="mytable">
<thead><th>id</th><th>Full Name</th></thead>
<tbody>
<% for (u in this.User_lsl) { %>
  <tr data-popup-data='{"user":"<%= this.User_lsl[u].username %>"}'><td><%= this.User_lsl[u].username %></td>
      <td><%= this.User_lsl[u].fullname %></td></tr>
<% } %>
</tbody>
</table>
  ]]>
</script>

<!--
<style>
#ui-dialog {
  width: 750px;
}
#ui-dialog form {
  overflow: auto;
}
</style>
<script>
$(window).resize(function(e){
  var wh = $(window).height();
  wh = wh - 150;
  $('#ui-dialog form').height(wh);
});
</script>
-->

<script type="text/x-jqote-template" id="tpl-edit-user">
  <![CDATA[
    <% loadData("User/info",{user:this.DataTables.mytable.selectedRow}); %>
    
    <h3>Edit User</h3>
    <form action="User/setDetails" data-autoclose="false" class="fancy">
    <input type="hidden" name="user" value="<%= this.User_info.details.username %>" />
    <p><label>Full Name: </label><input name="fullname" autofocus value="<%= this.User_info.details.fullname %>" /></p>
    <p><label>Username: </label><input disabled value="<%= this.User_info.details.username %>" /></p>
    <p><label>Date of Birth: </label><input name='dob' value="<%= this.User_info.details.dob %>" /></p>
    <p><input type='submit' value="Update" /></p>
    </form>
    <hr />
    
    <p><label>Roles: </label></p>
    
    <!-- Add Role -->
    <% for (r in this.User_info.roles) { %>
    <form action="User/setRole" data-autoclose="false" class="fancy" data-refresh="dialog">
        <p style="margin:0;"><label>&nbsp;</label><input disabled value="<%= this.User_info.roles[r] %>" /> <a href="#" class="rm form-submit">&nbsp;</a></p>
        <input type="hidden" name="user" value="<%= this.User_info.details.username %>" /><input type="hidden" name="role" value="<%= this.User_info.roles[r] %>" /><input type="hidden" name="status" value="false" />
    </form>
    <% } %>
    <!---->
    
    <!-- Remove Role -->
    <form action="User/setRole" data-autoclose="false" data-refresh="dialog" class="fancy">
        <p style="margin:0;"><label>&nbsp;</label><input name="role" /> <a href="#" class="add form-submit">&nbsp;</a></p>
        <input type="hidden" name="user" value="<%= this.User_info.details.username %>" /><input type="hidden" name="status" value="true" />
    </form>
    <!---->
    
    
    <p><label>Permissions: </label></p>
    
    <!-- Add Permission -->
    <% for (r in this.User_info.permissions) { %>
    <form action="User/setPermission" data-autoclose="false" class="fancy" data-refresh="dialog">
        <p style="margin:0;"><label>&nbsp;</label><input disabled value="<%= this.User_info.permissions[r] %>" /> <a href="#" class="rm form-submit">&nbsp;</a></p>
        <input type="hidden" name="user" value="<%= this.User_info.details.username %>" /><input type="hidden" name="permission" value="<%= this.User_info.permissions[r] %>" /><input type="hidden" name="status" value="false" />
    </form>
    <% } %>
    <!---->
    
    <!-- Remove Permissions -->
    <form action="User/setPermission" data-autoclose="false" data-refresh="dialog" class="fancy">
        <p style="margin:0;"><label>&nbsp;</label><input name="permission" /> <a href="#" class="add form-submit">&nbsp;</a></p>
        <input type="hidden" name="user" value="<%= this.User_info.details.username %>" /><input type="hidden" name="status" value="true" />
    </form>
    <!---->
    
 
    <hr />
    <form data-autoclose="false">
    <p><label>Password: </label><input name="force_password" /></p>
    <p><input type="submit" value="Reset" /></p>
    </form>
    <hr />
    <p><input type="button" class="dialog-close" value="Done" /></p>
    <style>
      a.rm{float:left;width:16px;height:16px;background:url('lib/icons/delete.png');}
      a.add{float:left;width:16px;height:16px;background:url('lib/icons/add.png');}
    </style>
  ]]>
</script>

<script>
function rmRole(role) {
    
    var nI = $('input.'+role);
    var nR = nI.nextUntil('input');
    nI.add(nR).remove();
    showDialog('edit-user');
}
function addRole() {
    
    var role = $('#addrole').val();
    var html = "<input class=\""+role+"\" disabled value=\""+role+"\" /> <a href=\"javascript:rmRole('"+role+"');\" style=\"float:left;width:16px;height:16px;background:url('lib/icons/delete.png');\">&nbsp;</a><br /><label>&nbsp;</label>";
    $(html).insertBefore('#addrole');
    $('#addrole').val('');
}
</script>

<script type="text/x-jqote-template" id="tpl-new-user">
  <![CDATA[
    <h3>Edit User</h3>
    <form action="User/addUser" class="fancy">
    <p><label>Full Name: </label><input name="fullname" autofocus /></p>
    <p><label>Username: </label><input name="username" /></p>
    <p><label>Date of Birth: </label><input name='dob' value="" /></p>
    <p><input type="submit" value="Create" />
    <input type="button" class="dialog-close" value="Cancel" /></p>
    </form>
  ]]>
</script>

<script type="text/x-jqote-template" id="tpl-more-user">
  <![CDATA[
    <% loadData("User/info",{user:this.DataTables.mytable.selectedRow}); %>
    <p>Date of Birth: <%= this.User_info.details.dob %> <a class="button" href="javascript:showDialog('edit-user');console.log(window.Sebble.DataTables)">Edit</a></p>
  ]]>
</script>
