<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>SebbleDMS</title>

  <link rel="stylesheet" href="style/basicplus.css" type="text/css" media="all" />
  <link rel="stylesheet" href="style/layout.css" type="text/css" media="all" />
  <link rel="stylesheet" href="style/datatables.css" type="text/css" media="all" />
  <!--<link rel="stylesheet" href="style.css" type="text/css" media="all" />--><!-- For interchangable colour schemes -->
  <script type="text/javascript" src="lib/jquery.js"></script>
  <script type="text/javascript" src="lib/jquery.jqote2.js"></script>
  <script type="text/javascript" src="lib/jquery.scrollTo.js"></script>
  <script type="text/javascript" src="lib/jquery.dataTables.js"></script>
  <script type="text/javascript" src="lib/jquery.rightClick.js"></script>
  <script type="text/javascript" src="lib/jquery.ba-hashchange.js"></script>
  <script type="text/javascript" src="lib/jqueryFileTree/jqueryFileTree.js"></script>
  <script type="text/javascript" src="lib/admin.js"></script>
  <script type="text/javascript" src="config.js"></script>
  
  <!--[if IE]>
  <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <script type="text/javascript">
    CFInstall.check({preventPrompt: true, onmissing: showGCFPrompt, oninstall: refreshGCF});
  </script>
  <![endif]-->
  <!--[if lt IE 9]>
  <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  <![endif]-->
  
  <!-- Some app specific values -->
  <!--<script type="text/javascript" src="config.js"></script>-->
  
  <!-- jQote2 Template [Login (dialog)] -->
  <script type="text/x-jqote-template" id="tpl-login">
    <![CDATA[
      <h3>Sign In - <a href="<%= this.App.homePage %>">[<%= this.App.appName %>]</a></h3>
      <form action="Admin/authLogin" method="post" id="form-login" data-oncomplete="buildCP" class="fancy">
      <!--<form action="User/setDetails" data-autoclose="true" data-refresh="true">-->
      <p><em><%= this.App.loginMsg %></em></p>
      <p><label for="username">Username</label>
      <input type="text" id="username" name="username" autofocus /></p>
      <p><label for="password">Password</label>
      <input type="password" id="password" name="password" /></p>
      <p><input type="submit" value="Login" /></p>
      </form>
    ]]>
  </script>
  
  <!-- jQote2 Template [Title] -->
  <script type="text/x-jqote-template" id="tpl-title">
    <![CDATA[
      <%= this.App.curPage %> - [<%= this.App.appName %>]
    ]]>
  </script>
  
  <!-- jQote2 Template [Head] -->
  <script type="text/x-jqote-template" id="tpl-head">
    <![CDATA[
      <h1><span><%= this.User.details.username %> - [<a href="javascript:doLogout()">Sign out</a>]</span>[<em><a href="<%= this.App.homePage %>"><%= this.App.appName %></a></em>] - <%= this.App.curSection %> :: <%= this.App.curPage %></h1>
    ]]>
  </script>
  
  <!-- jQote2 Template [Side] -->
  <script type="text/x-jqote-template" id="tpl-side">
    <![CDATA[
      <% loadData("Admin/userPages"); %>
      <div class="ui-sidebox">
        <h3>Dashboard</h3>
        <ul>
          <% for (key in this.Admin_userPages._dashboard.pages) { %>
          <li><a href="#!/_dashboard/<%= key %>"><%= this.Admin_userPages._dashboard.pages[key].name %></a></li>
          <% } %>
        </ul>
      </div>
      <hr />
      <% for (group in this.Admin_userPages) { 
           if (group.substr(0,1)=='_') continue; %>
        <div class="ui-sidebox">
          <h3><%= this.Admin_userPages[group].name %></h3>
          <ul>
            <% for (key in this.Admin_userPages[group].pages) { %>
            <li><a href="#!/<%= group %>/<%= key %>"><%= this.Admin_userPages[group].pages[key].name %></a></li>
            <% } %>
          </ul>
        </div>
      <% } %>
      <hr />
      <div class="ui-sidebox">
      <h3>Help</h3>
      <ul>
        <% for (key in this.Admin_userPages._help.pages) { %>
        <li><a href="#!/_help/<%= key %>"><%= this.Admin_userPages._help.pages[key].name %></a></li>
        <% } %>
      </ul>
      </div>
    ]]>
  </script>

  
  <!-- jQote2 Template [GCF Prompt (dialog)] -->
  <script type="text/x-jqote-template" id="tpl-gcfprompt">
    <![CDATA[
      <h3>Google Chrome Frame</h3>
      <p>You appear to be using Internet Explorer.</p>
      <p><b>Make your browser more powerful.</b></p><p>Google Chrome Frame is a free plug-in for Internet Explorer. Some advanced web apps use Google Chrome Frame to provide you with additional features and better performance.</p>
      <p><input type="button" value="Install GCF" onclick="installGCF()" />
      <input type="button" class="dialog-close" value="Skip" /></p>
    ]]>
  </script>


  <!-- jQote2 Template [Confirm (dialog)] -->
  <script type="text/x-jqote-template" id="tpl-confirm">
    <![CDATA[
      <h3>Confirm - [<%= this.App.appName %>]</h3>
      <p><%= this.App.confirmMsg %></p>
      <p><input type="submit" value="Yes" />
      <input type="button" value="No" class="dialog-close" /></p>
      </form>
    ]]>
  </script>
  
  <!-- jQote2 Template [Alert (dialog)] -->
  <script type="text/x-jqote-template" id="tpl-alert">
    <![CDATA[
      <h3>Alert - [<%= app.appName %>]</h3>
      <p><%= ui.alert %></p>
      <p><a id="ui-okay" class="button">Okay</a></p>
      </form>
    ]]>
  </script>
  
  <!-- jQote2 Template [Input (dialog)] -->
  <script type="text/x-jqote-template" id="tpl-input">
    <![CDATA[
      <h3>User Input - [<%= app.appName %>]</h3>
      <p><%= ui.input %></p>
      <!--<p class="right"><label for="input">Input</label>-->
      <p><input type="text" id="input" name="input" /></p>
      <p><a id="ui-okay" class="button">Okay</a>
      <a id="ui-cancel" class="button">Cancel</a></p>
      </form>
    ]]>
  </script>
  
  <!-- jQote2 Template [Edit Article (custom)] -->
  <script type="text/x-jqote-template" id="tpl-edit-article">
    <![CDATA[
      <h3>Edit Article - [<%= app.appName %>]</h3>
      <p><label style="padding:0 0.3em 0 1em;">Title</label>
      <input value="Article Title" style="width:150px;" />
      <label style="padding:0 0.3em 0 1em;">Author</label>
      <input readonly value="Article Title" /></p>
      <p><textarea style="width:480px;height:200px;font-family:verdana;"></textarea></p>
      <style>#ui-dialog{margin-righdt:0;}</style>
      <p><a id="ui-okay" class="button" onclick="$('#ui-dialog').animate({paddingRight: '480px'});console.log('animate?')">Save Changes</a>
      <a id="ui-cancel" class="button" onclick="myModalClose();$('#ui-dialog').css({paddingRight: '16px'});">Cancel</a></p>
      </form>
    ]]>
  </script>
  
  <!-- jQote2 Template [Wiki Preview (custom)] -->
  <script type="text/x-jqote-template" id="tpl-wiki-preview">
    <![CDATA[
      <h3>Edit Article - [<%= app.appName %>]</h3>
      <p><label style="padding:0 0.3em 0 1em;">Title</label>
      <input value="Article Title" style="width:150px;" />
      <label style="padding:0 0.3em 0 1em;">Author</label>
      <input readonly value="Article Title" /></p>
      <div id="preview" style="position: absolute;width:480px;background-color:#fcfcfc;padding:1em;border:solid 1px #999;text-align: left;display:none;max-height:400px;overflow:auto;"></div><style>#ui-dialog{position:absolute;right:50%;top:0;}di{font-weight:bold;}</style>
      <p><textarea style="width:480px;height:200px;font-family:verdana;" id="ta" onfocus="$('#preview').show().html($('#ta').val()).css({top: $('#ta').position().top, left: $('#ta').position().left+$('#ta').width()});" onkeyup="$('#preview').show().html($('#ta').val()).css({top: $('#ta').position().top, left: $('#ta').position().left+$('#ta').width()});" onblur="$('#preview').hide()">
<!-- Sample HTML --><h3>My First Article</h3><dl><di>Why is that heading right aligned?</di><dd>Because the preview on the right is also within this modal box</dd><dd><b>Solution:</b> We must either create a CSS reset for this preview, or keep the preview from being within this overbox.</dd></dl>

<h4>My First Article</h4><dl><di>Why is that heading right aligned?</di><dd>Because the preview on the right is also within this modal box</dd><dd><b>Solution:</b> We must either create a CSS reset for this preview, or keep the preview from being within this overbox.</dd></dl>

<h4>My First Article</h4><dl><di>Why is that heading right aligned?</di><dd>Because the preview on the right is also within this modal box</dd><dd><b>Solution:</b> We must either create a CSS reset for this preview, or keep the preview from being within this overbox.</dd></dl>

<h4>My First Article</h4><dl><di>Why is that heading right aligned?</di><dd>Because the preview on the right is also within this modal box</dd><dd><b>Solution:</b> We must either create a CSS reset for this preview, or keep the preview from being within this overbox.</dd></dl><!-- /END Sample HTML --></textarea></p>
      <p><a id="ui-okay" class="button">Save Changes</a>
      <a id="ui-cancel" class="button" onclick="myModalClose()">Cancel</a></p>
      </form>
    ]]>
  </script>
  
</head>
<body>
  <div id="ui-head"></div>
  <div id="ui-side"></div>
  <div id="ui-main"></div>
  
  <div id="ui-notify"></div>
</body>
</html>
