/*** Admin Enhancement Styles ***/

body {
    font-family: verdana;
}

/* Iframe */

iframe.admin-iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    display: none;
}

/* Forms */

.changed {
    outline: solid 2px rgba(0,0,255,0.5);
}
.saved {
    outline: solid 2px rgba(0,255,0,0.5);
}
.warning {
    outline: solid 2px rgba(255,127,0,0.5);
}
.error {
    outline: solid 2px rgba(255,0,0,0.5);
}

/* Notifications */

.admin-notify {

    position:fixed;
    top: 1em;
    left: 50%;
    width: 450px;
    margin-left: -227px;
    z-index: 999;
    
    border: solid 2px #000;
    background-color: #eee;
    
    text-align: center;
    padding: 0.5em;
}

.admin-notify p {

    padding: 0;
    margin: 0;
}

.admin-notify.status100 {
    border-color: #00f;
    background-color: #eef;
}
.admin-notify.status100 b {
    color: #009;
}
.admin-notify.status200 {
    border-color: #0f0;
    background-color: #efe;
}
.admin-notify.status200 b {
    color: #090;
}
.admin-notify.status300,
.admin-notify.status400,
.admin-notify.status500 {
    border-color: #f00;
    background-color: #fee;
}
.admin-notify.status300 b,
.admin-notify.status400 b,
.admin-notify.status500 b {
    color: #900;
}
