/*** Admin Enhancement Styles ***/

/* Iframe */

iframe.admin-iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    display: none;
}

/* Notifications */

.admin-notify {

    position:fixed;
    top: 1em;
    left: 50%;
    width: 450px;
    margin-left: -227px;
    /*z-index: 999;*/
    
    border: solid 2px #000;
    background-color: #eee;
    
    text-align: center;
    padding: 0.5em;
    
    /*cursor: pointer;*/
}

.admin-notify p {

    padding: 0;
    margin: 0;
}
