/* Notifications */

.ui-notify {

    position:fixed;
    top: 1em;
    left: 50%;
    width: 30em;
    margin-left: -15em;
    z-index: 999;
    
    border: solid 2px #000;
    background-color: #eee;
    
    text-align: center;
    padding: 0.5em;
    
    cursor: pointer;
}

.ui-notify p {

    padding: 0;
    margin: 0;
}
