<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="author" content="Sebastian Mellor, sebble@sebble.com" />
  <title>Example Website</title>
  
  <meta name="description" content="" />
  <meta name="keywords" content="" />

  <link rel="stylesheet" href="style/style.css" type="text/css" media="all" />

  <!--[if IE]>
  <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lt IE 9]>
  <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  <![endif]-->

</head>
<body>
</body>
</html>
