/* Defaults */
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-family: georgia;
    color: #666;
    font-weight: normal
}
body {
    font-family: verdana;
    padding: 0;
    margin: 0;
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#eee 100%);
    background: #fff;
}
input {
    font-family: verdana;
}
a {
    text-decoration: none;
    color: inherit;
    color: #49b;
}
a:hover {
    color: #279;
}

html {
    min-height: 101%;
}
/* Basic Layout */

#ui-head {
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

h1 {
    line-height: 2em;
	background-color: #FFF; /* Plain white background For IE and anything not supporting linear-gradient. */
/*  background: -webkit-linear-gradient(top, #eee 0%,#ddd 100%);
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#f6f6f6 100%);
    background: -webkit-linear-gradient(top, #fff 0%,#ddd 100%);   last three lines are original code */
	background: -ms-linear-gradient(top, #EEE 0, #FFF 16%, #FFF 87%, #EEE 93%, #D6D6D6 100%); /* For IE10+ */
    background: -o-linear-gradient(top, #EEE 0, #FFF 16%, #FFF 87%, #EEE 93%, #D6D6D6 100%); /* For Opera 11.10+ */
    background: -moz-linear-gradient(top, #EEE 0, #FFF 16%, #FFF 87%, #EEE 93%, #D6D6D6 100%); /* For Mozilla */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#EEE), color-stop(0.16,#FFF), color-stop(0.87,#FFF), color-stop(0.93,#EEE), to(#D6D6D6)); /* old webkit */
    background: -webkit-linear-gradient(top, #EEE 0, #FFF 16%, #FFF 87%, #EEE 93%, #D6D6D6 100%); /* For Webkit */
/*	background: -webkit-linear-gradient(top,#EDF5F8 0%, #FFF 20%, #FFF 80%, #EDF5F8 93%, #C8E6F3 100%); /* Alternative blue version but may look too strong. */
	background: linear-gradient(top, #EEE 0, #FFF 16%, #FFF 87%, #EEE 93%, #D6D6D6 100%); /* W3C */
	border-bottom: solid 2px #999;
    border-bottom: solid 2px #999;
    padding: 0 1em;
    color: #666;
    box-shadow: 0 0 5px #999;
}
body { margin-top: 4em; }
h1 em {
    color: #333;
    font-weight: bold;
}

h1 span {
    float:right;
    font-size: 0.6em;
}

#ui-side {
    width: 15em;
    float: left;
}

.ui-sidebox {
    border: solid 1px #999;
    margin: 1em;
    border-radius: 7px 0;
    background-color: #FFF;
/*	background: -webkit-linear-gradient(top, #fff 0, #f6f6f6 100%);  Original code */
	background: -moz-linear-gradient(top, #EEE 0, #FFF 8%, #FFF 94%, #D6D6D6 100%);
	background: -webkit-linear-gradient(top, #EEE 0, #FFF 8%, #FFF 94%, #D6D6D6 100%);
    padding: 1em;
}
.ui-sidebox.selected {
    box-shadow: 0 0 5px #ccc;
}
#ui-side .ui-sidebox.selected h3 {
    color: #333;
}
body {
    background-color: #FCFCFC;
	background: -moz-linear-gradient(top, #fcfcfc 0%,#f6f6f6 100%);
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#f6f6f6 100%);
}

#ui-side h3 {
    color: #666;
    cursor: pointer;
    padding: 0;
    /*border: solid 1px #999;
    margin: 1em 1em 0 1em;
    padding: 0.2em 0.5em;
    border-radius: 7px 0;
    background: -webkit-linear-gradient(top, #eef 0%,#dde 100%);
    background: #fff;*/
}
#ui-side h3:hover {
    color: #333;
    /*cbackground: -webkit-linear-gradient(top, #eef 0%,#ccf 100%);*/
}
#ui-side h3:hover:before {
    content "+ ";
}
#ui-side ul {
    margin: 0;
    list-style: none;
    padding: 0;
    /*margin-top: -1px;
    border: solid 1px #999;
    border-width: 0 1px 1px 1px;
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#f6f6f6 100%);*/
}
#ui-side ul li {
    margin: 0;
    padding: 0.2em 0.5em;
    padding: 0;
    cursor: pointer;
}
#ui-side a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 0.2em 0.5em;
}
#ui-side li:hover {
    color: #000;
    background-color: #eef;
}

#ui-side hr {
    border: dotted 1px #999;
    padding: 0;
    margin: 1em 1em 0 1em;
    border-color: #49B;
}


#ui-main {
    margin-left: 15em;
    border: solid 1px #999;
    border-width: 0 0 1px 1px;
    border-radius: 0 0 0 15px;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    padding: 2em;
    display: none;
}
#ui-sub {
    margin: 1em 0 0 15em;
    border: solid 1px #999;
    border-width: 1px 0 1px 1px;
    border-radius: 15px 0 0 15px;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    padding: 2em;
    display: none;
}

h2 {
    margin: 0 0 1em 0;
    padding: 0 0 0 0;
    color: #333;
    border-bottom: solid 3px #279;
}

h3 {
    margin: 0 0 1em 0;
    padding: 0.5em 0 0 0;
    color: #333;
    border-bottom: solid 2px #49b;
}

h4 {
    margin: 0 0 1em 0;
    padding: 1em 0 0 0em;
    color: #333;
    border-bottom: solid 1px #49b;
}

h3 span,
h4 span {
    color: #666;
    font-size: 0.9em;
}
h3 span:before,
h4 span:before {
    content: " - ";
}

#ui-sub h3 {
    margin-top: 0;
}


/* Overlay */
#ui-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: #fff;
}
#ui-overbox {
    position: fixed;
    top: 5em;
    left: 0;
    width: 100%;
    text-align: center;
}
#ui-login {
    border: solid 1px #999;
    width: 30em;
    margin: 0 auto;
    padding: 0 1em;
    border-radius: 15px 0;
    box-shadow: 0 0 10px #666;
    background: -moz-linear-gradient(top, #fcfcfc 0%,#f6f6f6 100%);
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#f6f6f6 100%);
}
#ui-login h3 {
    /*background-color: #eef;
    background: -webkit-linear-gradient(top, #eef 0%,#dde 100%);
    border-radius: 15px 0 0 0;*/
    border-bottom: solid 2px #279;
    text-align: right;
    color: #666;
}
#ui-login .right {
     text-align: right;
     padding-right: 8em;
}
#ui-login a {
    border: solid 1px #999;
    padding: 0.3em 0.5em;
    border-radius: 7px;
	background: -moz-linear-gradient(top, #eef 0%,#dde 100%);
    background: -webkit-linear-gradient(top, #eef 0%,#dde 100%);
}
#ui-login a:hover {
    background: -moz-linear-gradient(top, #eef 0%,#ccf 100%);
	background: -webkit-linear-gradient(top, #eef 0%,#ccf 100%);
}
#ui-login em {
    color: #666;
}

/* Created new <a> tag id here for the login box that clears all button styling from ui-login above.
Had to use !important which didn't want to and wasn't expecting to need. Doesn't appear to affect anything else on website. */
#login-non-button-link {
	border: none !important;
	background: none !important;
}

/* Feedback */
#ui-notify {
    position: fixed;
    top: 1em;
    left: 0;
    text-align: center;
    width: 100%;
    display: none;
    z-index: 5;
}
#ui-notify p {
    width: 30em;
    margin: 0 auto;
    border: solid 2px #000;
    padding: 0.5em;
    background-color: #eee;
    color: #000;
}
#ui-notify.error p {
    border-color: #f00;
    background-color: #fee;
    color: #900;
}
#ui-notify.success p {
    border-color: #0f0;
    background-color: #efe;
    color: #090;
}
#ui-notify.notice p {
    border-color: #00f;
    background-color: #eef;
    color: #009;
}

/* Corners */
.rounded {
    rounded-corner: 7px;
}

/* Shadow */
.shadow {
    box-shadow: 0 0 10px #333;
}

/* Gradients */
.gradient {
    background: #ff9900; /* Old browsers */
    background: -moz-linear-gradient(top, #ff9900 0%, #ffcc00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9900), color-stop(100%,#ffcc00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff9900 0%,#ffcc00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff9900 0%,#ffcc00 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ff9900 0%,#ffcc00 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#ffcc00',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #ff9900 0%,#ffcc00 100%); /* W3C */
}
