<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Sign In</title>

  <link rel="stylesheet" href="admin.css" type="text/css" media="all" />
  <script type="text/javascript" src="lib/jquery.js"></script>
  <script type="text/javascript" src="lib/jquery.jqote2.js"></script>
  <script type="text/javascript" src="lib/jquery.scrollTo.js"></script>
  <script type="text/javascript" src="lib/jquery.rightClick.js"></script>
  <script type="text/javascript" src="lib/jquery.ba-hashchange.js"></script>
  <script type="text/javascript" src="lib/jqueryFileTree/jqueryFileTree.js"></script>
  <script type="text/javascript" src="admin.js"></script>
  
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lt IE 9]>
  <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  <![endif]-->
  
  <!-- Some app specific values -->
  <script type="text/javascript" src="config.js"></script>
  
  <!-- jQote2 Template [Login (dialog)] -->
  <script type="text/x-jqote-template" id="tpl-login">
    <![CDATA[
      <h3>Sign In - <a href="<%= app.homePage %>">[<%= app.appName %>]</a></h3>
      <form action="Auth/login" method="post" id="form-login">
      <p><em><%= app.loginMsg %></em></p>
      <p class="right"><label for="username">Username</label>
      <input type="text" id="username" name="username" /></p>
      <p class="right"><label for="password">Password</label>
      <input type="password" id="password" name="password" /></p>
      <p><a href="#" class="submit button">Login</a></p>
      </form>
    ]]>
  </script>
  
  <!-- jQote2 Template [Title] -->
  <script type="text/x-jqote-template" id="tpl-title">
    <![CDATA[
      <%= app.curPage %> - [<%= app.appName %>]
    ]]>
  </script>
  
  <!-- jQote2 Template [Head] -->
  <script type="text/x-jqote-template" id="tpl-head">
    <![CDATA[
      <h1>[<em><a href="<%= app.homePage %>"><%= app.appName %></a></em>] - <%= app.curPage %><span><%= user.details.username %> - [<a href="javascript:doLogout()">Sign out</a>]</span></h1>
    ]]>
  </script>
  
  <!-- jQote2 Template [Side] -->
  <script type="text/x-jqote-template" id="tpl-side">
    <![CDATA[
      <div class="ui-sidebox">
        <h3>Dashboard</h3>
        <ul>
          <% for (key in this._dashboard.pages) { %>
          <li><a href="#!/_dashboard/<%= key %>"><%= this._dashboard.pages[key].name %></a></li>
          <% } %>
        </ul>
      </div>
      <hr />
      <% for (group in this) { 
           if (group.substr(0,1)=='_') continue; %>
        <div class="ui-sidebox">
          <h3><%= this[group].name %></h3>
          <ul>
            <% for (key in this[group].pages) { %>
            <li><a href="#!/<%= group %>/<%= key %>"><%= this[group].pages[key].name %></a></li>
            <% } %>
          </ul>
        </div>
      <% } %>
      <hr />
      <div class="ui-sidebox">
      <h3>Help</h3>
      <ul>
        <% for (key in this._help.pages) { %>
        <li><a href="#!/_help/<%= key %>"><%= this._help.pages[key].name %></a></li>
        <% } %>
      </ul>
      </div>
    ]]>
  </script>
  
  <!-- jQote2 Template [Confirm (dialog)] -->
  <script type="text/x-jqote-template" id="tpl-confirm">
    <![CDATA[
      <h3>Confirm - [<%= app.appName %>]</h3>
      <p><%= ui.confirm %></p>
      <p><a id="ui-yes" class="button">Yes</a>
      <a id="ui-no" class="button">No</a></p>
      </form>
    ]]>
  </script>
  
  <!-- jQote2 Template [Alert (dialog)] -->
  <script type="text/x-jqote-template" id="tpl-alert">
    <![CDATA[
      <h3>Alert - [<%= app.appName %>]</h3>
      <p><%= ui.alert %></p>
      <p><a id="ui-okay" class="button">Okay</a></p>
      </form>
    ]]>
  </script>
  
  <!-- jQote2 Template [Input (dialog)] -->
  <script type="text/x-jqote-template" id="tpl-input">
    <![CDATA[
      <h3>User Input - [<%= app.appName %>]</h3>
      <p><%= ui.input %></p>
      <p class="right"><label for="input">Input</label>
      <input type="text" id="input" name="input" /></p>
      <p><a id="ui-okay" class="button">Okay</a>
      <a id="ui-cancel" class="button">Cancel</a></p>
      </form>
    ]]>
  </script>
  
  <!-- jQote2 Template [Edit Article (custom)] -->
  <script type="text/x-jqote-template" id="tpl-edit-article">
    <![CDATA[
      <h3>Edit Article - [<%= app.appName %>]</h3>
      <p><label style="padding:0 0.3em 0 1em;">Title</label>
      <input value="Article Title" style="width:150px;" />
      <label style="padding:0 0.3em 0 1em;">Author</label>
      <input readonly value="Article Title" /></p>
      <p><textarea style="width:480px;height:200px;font-family:verdana;"></textarea></p>
      <style>#ui-dialog{margin-righdt:0;}</style>
      <p><a id="ui-okay" class="button" onclick="$('#ui-dialog').animate({paddingRight: '480px'});console.log('animate?')">Save Changes</a>
      <a id="ui-cancel" class="button" onclick="myModalClose();$('#ui-dialog').css({paddingRight: '16px'});">Cancel</a></p>
      </form>
    ]]>
  </script>
  
  <!-- jQote2 Template [Wiki Preview (custom)] -->
  <script type="text/x-jqote-template" id="tpl-wiki-preview">
    <![CDATA[
      <h3>Edit Article - [<%= app.appName %>]</h3>
      <p><label style="padding:0 0.3em 0 1em;">Title</label>
      <input value="Article Title" style="width:150px;" />
      <label style="padding:0 0.3em 0 1em;">Author</label>
      <input readonly value="Article Title" /></p>
      <div id="preview" style="position: absolute;width:480px;background-color:#fcfcfc;padding:1em;border:solid 1px #999;text-align: left;display:none;max-height:400px;overflow:auto;"></div><style>#ui-dialog{position:absolute;right:50%;top:0;}di{font-weight:bold;}</style>
      <p><textarea style="width:480px;height:200px;font-family:verdana;" id="ta" onfocus="$('#preview').show().html($('#ta').val()).css({top: $('#ta').position().top, left: $('#ta').position().left+$('#ta').width()});" onkeyup="$('#preview').show().html($('#ta').val()).css({top: $('#ta').position().top, left: $('#ta').position().left+$('#ta').width()});" onblur="$('#preview').hide()">
<!-- Sample HTML --><h3>My First Article</h3><dl><di>Why is that heading right aligned?</di><dd>Because the preview on the right is also within this modal box</dd><dd><b>Solution:</b> We must either create a CSS reset for this preview, or keep the preview from being within this overbox.</dd></dl>

<h4>My First Article</h4><dl><di>Why is that heading right aligned?</di><dd>Because the preview on the right is also within this modal box</dd><dd><b>Solution:</b> We must either create a CSS reset for this preview, or keep the preview from being within this overbox.</dd></dl>

<h4>My First Article</h4><dl><di>Why is that heading right aligned?</di><dd>Because the preview on the right is also within this modal box</dd><dd><b>Solution:</b> We must either create a CSS reset for this preview, or keep the preview from being within this overbox.</dd></dl>

<h4>My First Article</h4><dl><di>Why is that heading right aligned?</di><dd>Because the preview on the right is also within this modal box</dd><dd><b>Solution:</b> We must either create a CSS reset for this preview, or keep the preview from being within this overbox.</dd></dl><!-- /END Sample HTML --></textarea></p>
      <p><a id="ui-okay" class="button">Save Changes</a>
      <a id="ui-cancel" class="button" onclick="myModalClose()">Cancel</a></p>
      </form>
    ]]>
  </script>
  
</head>
<body>
  <div id="ui-overlay"></div>
  <div id="ui-overbox">
    <div id="ui-dialog"></div>
    <!--<div id="ui-login"></div>-->
    <!--<div id="ui-confirm"></div>--><!-- custom yes/no -->
    <!--<div id="ui-alert"></div>--><!-- custom ok -->
  </div>
  <div id="ui-head"></div>
  <div id="ui-notify"></div>
  <div id="ui-side"></div>
  <div id="ui-main"></div>
  <div id="ui-sub"></div>
</body>
</html>
