<h2>Your Profile</h2>

<div id="ui-details"></div>

<h3>Security</h3>

<ul><li><a href="javascript:showDialog('change-password')">Change Password</a></li></ul>

<!-- This is not in the div already because we want some dynamic variables. -->
<script type="text/x-jqote-template" id="tpl-details">
  <![CDATA[
<% loadData("Auth/info"); %>
<h3>Basic Details - [<a href="javascript:showDialog('edit-basics')">Edit</a>]</h3>

<p><b>Full Name</b>: <%= this.Auth_info.details.fullname %></p>
<p><b>Username</b>: <%= this.Auth_info.details.username %></p>
<p><b>Date of Birth</b>: <%= this.Auth_info.details.dob %></p>

<h3>Roles & Permissions</h3>

<% if (this.Auth_info.roles.length > 0) { %>
<h4>Roles</h4>
<ul>
<% for (k in this.Auth_info.roles) { %>
  <li><%= this.Auth_info.roles[k] %></li>
<% } %>
</ul>
<% } else { %>
<p>You have no roles.</p>
<% } %>

<% if (this.Auth_info.permissions.length > 0) { %>

<h4>Permissions</h4>
<ul>
<% for (k in this.Auth_info.permissions) { %>
  <li><%= this.Auth_info.permissions[k] %></li>
<% } %>
</ul>
<% } else { %>
<p>You have no other permissions.</p>
<% } %>

  ]]>
</script>

<!-- Popup Forms -->
<script type="text/x-jqote-template" id="tpl-edit-basics">
  <![CDATA[
    <h3>Basic Info</h3>
    <form action="User/setDetails" data-autoclose="true" data-refresh="true" data-table="null">
    <p><label>Full Name: </label><input name="fullname" autofocus value="<%= this.Auth_info.details.fullname %>" /></p>
    <p><label>Username: </label><input disabled value="<%= this.Auth_info.details.username %>" /></p>
    <p><label>Date of Birth: </label><input name='dob' value="<%= this.Auth_info.details.dob %>" /></p>
    <p><input type="submit" value="Okay" />
    <input type="button" class="dialog-close" onclick="hideDialog()" value="Cancel" /></p>
    </form>
  ]]>
</script>

<!-- Popup Forms -->
<script type="text/x-jqote-template" id="tpl-change-password">
  <![CDATA[
    <h3>Change Password</h3>
    <form action="User/setPassword" data-autoclose="true" data-refresh="false" data-table="null" class="fancy">
    <p><label>Current Password: </label><input name="current_password" autofocus type="password" /></p>
    <hr />
    <p><label>New Password: </label><input name="new_password" type="password" /></p>
    <p><label>Again: </label><input name='new_password2' type="password" /></p>
    <p><input type="submit" value="Change" />
    <input type="button" class="dialog-close" onclick="hideDialog()" value="Cancel" /></p>
    </form>
  ]]>
</script>
